@import url("https://fonts.googleapis.com/css2?family=Montserrat");

.fundoConteudo {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: 0px;
  background-image: url("/fundoEspaço.jpeg");
  background-repeat: repeat;
  background-size: 350px 220px;
  background-position: top left;
  padding: 1.7%;
}

.conteudoSite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.h1 {
  font-weight: bold;
  margin: 0;
}

.p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.span {
  font-size: 12px;
}

.a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.container {
  position: relative;
  width: 1168px;
  max-width: 100%;
  min-height: 480px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #b3b3b3;
}

.formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signInContainer {
  left: 0;
  width: 50%;
  z-index: 2;
}

.input{
  width: 100%;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
}

.containerRedesSociais{
  width: 100%;
  margin: 20px 0;
}

.containerRedesSociais .social{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.button{
  background-color: #0066ff;
  color: rgb(255, 255, 255);
  border: 1px solid #0066ff;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.button:hover{
  cursor: pointer;
}

.button.fantasma{
  border: 1px solid white;
}

.signUpContainer {
  right: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
  transform: translateY(100%);
}

.formContainer .form {
  display: flex;
  height: 100%;
  background-color: white;
  padding: 0 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 10px;
}

.overlayContainer {
  display: block;
  position: absolute;
  z-index: 100;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}

.overlay {
  position: relative;
  height: 100%;
  width: 200%;
  left: -100%;
  background: linear-gradient(to right, #00fff2, #006eff) no-repeat 0 0 / cover;
  color: white;
  transition: transform 0.6s ease-in-out;
}

.overlayPanel {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: center;
  transition: transform 0.6s ease-in-out;
}

.overlayRight {
  right: 0;
  transform: translateY(0);
}

.overlayLeft {
  transform: translateY(0);
}

/* Estilos aplicados quando rightPanelActive está presente */
.container.rightPanelActive .signInContainer {
  transform: translateY(100%);
}

.container.rightPanelActive .signUpContainer {
  transform: translateY(0%);
  opacity: 1;
  z-index: 5;
}

.container.rightPanelActive .overlayContainer {
  transform: translateX(-100%);
}

.container.rightPanelActive .overlay {
  transform: translateX(50%);
}

.container.rightPanelActive .overlayRight {
  transform: translateY(20%);
}
